.container-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container-header__name {
	background: #34b1fe;
	border-radius: 8px;
	width: 174px;
	height: 48px;
	padding: 0 24px;
	color: #fff;
	border: 1px solid #34b1fe;
	cursor: default;
	font-size: 16px;
	width: 73px;
	height: 30px;
	padding: 4px 12px;
	margin-top: 120px;
	text-align: center;
}

.container-header__title {
	margin-top: 24px;
	font-size: 48px;
	font-weight: 400;
}

.container-header__description {
	white-space: normal;
	max-width: 600px;
	font-size: 16px;
	color: #6a757c;
	margin-top: 24px;
	text-align: center;
}
