.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
	border-radius: 16px;
	padding: 2rem 1.5rem;
	color: #ffffff;
}

.card-theme-dark {
	background-color: #071924;
}

.card-theme-dark_image {
	margin-bottom: 1rem;
}

.card-theme-dark_description {
	opacity: 0.6;
}

.card-theme-light {
	background-color: #f7f7f7;
	color: #6A757C;
}

.card-theme-light_image {
	margin-bottom: 1rem;
}

.card-theme-light_title {
	color: #071924;
}

.card-theme-light_description {
	color: #6A757C;
}
