.services__card-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-top: 5rem;
	margin-bottom: 7rem;
}

/* Для последнего элемента */
.services__card-container > *:last-child:nth-child(odd) {
	grid-column: 1 / -1;
}

.services_tags {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	margin-top: 1rem;
}

.services_tag {
	background-color: white !important;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 485px) {
	.services__card-container {
		grid-template-columns: 1fr;
	}
}
