.card {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 160px;
  padding: 16px;
  justify-content: space-between;
  border-radius: 16px;
}
.card img {
  width: 32px;
  height: 32px;
}
.card h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
@media(max-width: 485px) {
 
  .card {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    height: 64px;
    gap: 12px;
    align-items: center;
  }
}