.complex-solutions-block {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  justify-content: space-between;
}

.complex-solutions-block__left-title {
  font-size: 56px;
  font-weight: 400;
}
.complex-solutions-block__left-descr {
  font-size: 16px;
  color: #6a757c;
  margin-top: 24px;
  margin-bottom: 48px;
}