.hero-wrapper {
	padding: 3rem 0 5rem;
}

.hero-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hero-block__left-title {
	font-size: 56px;
	font-weight: 400;
}

.hero-block__left-descr {
	font-size: 16px;
	color: #6a757c;
	margin-top: 24px;
	margin-bottom: 48px;
}

.hero-cards {
	display: flex;
	flex-direction: row;
	gap: 24px;
	margin: 0 auto;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.success-projects-container__title {
		font-size: 5vw;
	}
	.success-projects .action-button {
		margin-top: 80px;
	}
}

@media (max-width: 485px) {
	.hero-block {
		flex-direction: column;
	}
	.hero-cards {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.hero-block__left-title {
		font-size: 44px;
	}
}
@media( max-width: 375px) {
	.hero-block__right img {
		width: 100%;
	}
}